body {
  background: linear-gradient(to bottom right, #1f1c2c, #928dab);
  color: #333;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player-card {
  background-color: #090101;
  border-radius: 20px;
  padding: 30px 25px;
  width: 350px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.artist-img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.song-info h2 {
  font-size: 22px;
  margin-bottom: 5px;
  color: #fff;
}

.song-info p {
  color: #b3b3b3;
  font-size: 14px;
  margin-bottom: 20px;
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.progress-container input[type="range"] {
  flex: 1;
  cursor: pointer;
}

/* Style the time spans */
.time {
  font-size: 14px;
  color: #aaa;
  width: 40px;
  text-align: center;
  user-select: none;
}


#progress::-webkit-slider-thumb {
  appearance: none;
  height: 12px;
  width: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 15px;
}

.control-btn {
  background-color: transparent;
  border: none;
  color: #b3b3b3;
  font-size: 22px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.control-btn:hover {
  color: #1db954;
}

.play-btn {
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.2s;
}

.play-btn:hover {
  background-color: #1ed760;
  color: #000;
  transform: scale(1.05);
}
